.btn {

    background-color: var(--clrbase2);
    color: var(--clrbase4);
    cursor: pointer;
    border: 2px solid var(--clrbase0);
    font-size: 1.25em;
    font-family: monospace;
  
    position: relative;
  }
  
  .btn:hover {
    color: var(--clrbase0);
    border: 2px solid var(--clrbase1);
    box-shadow: 1px -2px 3px inset var(--clrbase0);
  }
  
  /* Round */
  
  .btn-round {
    border-radius: 2em;
    box-shadow:inset -1px -1px 2px var(--clr6);
  }
  
  /* // Arrow */
  
  .btn-arrow {
    transition: padding .4s;
  }
  
  .btn-arrow:hover {
    padding-inline-end: 2.5em;
  }
  
  .btn-arrow:hover::after {
    content: " →";
    position: absolute;
    right: 1em;
  }

  .btn-go {
    padding: 5px;
    width: 2.2em;
  }