.main-layout {
    display: grid;
    grid-template-columns: .25em 1fr .25em;
    grid-gap: 20px;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1 / -1;
}

.main-container {
    display: grid;
    justify-items: center;
    grid-gap: 20px;
    border: 2px solid var(--clrbase0);
    background-color: var(--clrbase3);
}

.map {
    min-width: 500px;
}

.locs {
    padding: 5px;
    grid-row: 2;
    grid-column: 1/-1;
}

/* .header {
    grid-row: 1;
} */