/* mobile-menu */
@media (max-width: 500px) {

    .main-layout {
        display: grid;
        grid-template-columns:
            .25em 1fr .25em;
    }

    .main-container {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .locs {
        grid-row: 3;
        grid-column: 1/-1;
        grid-template-columns: repeat(2, 1fr);

    }


    .btn-MyLocation {
        width: 4em;
    }

    .logo {
        letter-spacing: .05em;
    }

    .btn-go {
        margin-left: 2em;
        margin-top: 2px;
        padding: 5px;
        width: 5.2em;
    }

    .main-nav {
        max-width: fit-content;
        display: grid;
        justify-items: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .main-nav button {
        height: 4em;
        width: fit-content;
    }

    .map {
        min-width: 274px;
    }
}

@media (min-width: 500px) {

    .main-layout {
        display: grid;
        grid-template-columns:
            .25em 1fr .25em;
    }

    .main-container {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .locs {
        grid-row: 3;
        grid-column: 1/-1;
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-MyLocation {
        width: 5em;
    }

    .logo {
        letter-spacing: .05em;
    }

    .btn-go {
        margin-left: 2em;
        margin-top: 2px;
        padding: 5px;
        width: 5.2em;
    }

    .main-nav {
        max-width: fit-content;
        display: grid;
        justify-items: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.8em;
    }

    .main-nav button {
        height: 5em;
        width: 7em;
    }

    .map {
        min-width: 350px;
    }
}

@media (min-width: 620px) {

    /* main-Layout */
    .main-layout {
        display: grid;
        grid-template-columns:
            .25em 1fr .25em;
    }

    .map {
        min-width: 350px;
    }

    .main-nav {
        max-width: fit-content;
        display: grid;
        justify-items: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .locs {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-container {
        grid-template-columns: 2fr 1fr;
    }

    .main-nav button {
        height: 5em;
        width: 7em;
    }
}

/* MEDIUM */
/* 880px */

@media (min-width: 930px) {


    .main-layout {
        display: grid;
        grid-template-columns: .25em 1fr .25em;
        grid-gap: 20px;
    }

    .main-container {
        grid-template-columns: 2fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .main-nav {
        max-width: fit-content;
        display: grid;
        justify-items: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .main-nav button {
        height: 6em;
        width: 8em;
    }


    .locs {
        grid-template-columns: repeat(4, 1fr);
    }

    .map {
        min-width: 500px;
    }

}

/* LARGE */
/* 1060px */

@media (min-width: 1300px) {

    .main-layout {
        display: grid;
        grid-template-columns: .25em 1fr .25em;
        grid-gap: 20px;
    }

    .main-nav {
        max-width: fit-content;
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;

        grid-gap: 40px;
    }

    .main-nav button {
        height: 6em;
        width: 10em;
        
    }

    .main-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
        background-color: var(--clrbase3);
    }

    .locs {
        grid-template-columns: repeat(4, 1fr);
    }

    .map {
        min-width: 500px;
    }

}